/* weather styles*/
.weather-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.add_to_favourites{
   max-width: 200px;
}

.wrap-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 19%;
  height: 300px;
}
.form{
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  align-items: center;

}

@media screen and (max-width: 992px) {
  .weather-container{
    flex-direction: column;
  }
  .card{
    width: 100%;
    height: 300px;
    margin-top: 15px;
  }
}

